{% extends 'base.html' %}
{% block content %}

<div class="px-5 py-2 bg-warning bg-opacity-25 text-secondary">
    <h3 class="my-4 border-bottom border-danger"><b>Profile</b></h3>
    <div class="row">
        <img src="/static/img/smile_mori.jpg" class="col-2 img-thumbnail mb-3">
        <div class="col offset-md container">
            <h4><b>NAME : PlppIle</b></h4>
            <h5>
                <b>
                    AGE : ??</br>
                    SEX : FM</br>
                    EMAIL : whitney2319@naver.com</br>
                    GITHUB ADD :
                    <a href="https://github.com/PlppIle">PlppIle</a></br>
                    INTRODUCE : 세상에서 가장 귀여운 모리를 모두에게 보여드리겠습니다.
                </b>
            </h5>
        </div>
    </div>
</div>

{% endblock %}